@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
:root {
  --main-header-color: #1D71BE;
  --nav-bar-text-color: white;
  --nav-bar-bg-color: #2797FF;
  --nav-bar-hoover-color: #2789E3;
  --nav-bar-active-color: #1B65A9;
  --gray-color: #d8d8d8;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, p {
  font-family: 'Inter', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
html {
  overflow-x: hidden;
}